<mat-card class="custom-card">
  <mat-card-title>{{ mediaItem.name }}</mat-card-title>
  <mat-card-content>
    <div>{{ mediaItem.watchedOn }}</div>
    <div>{{ mediaItem.category }}</div>
    <div>{{ mediaItem.year }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="accent" aria-label="Example icon button with a favorite icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click)="onDelete()" mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="basic" aria-label="Example icon button with a show icon">
      <mat-icon>visibility</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
